.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    text-align: center;
}

.title {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
    color: #333;
}

.subtitle {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
    color: #333;
}

.reportsContainer {
    width: 100%;
    max-width: 1200px;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

.summary {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.card {
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
}

.card h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #333;
}

.card p {
    font-size: 1.2rem;
    color: #666;
}

.chartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: 2rem 0;
}

.chart {
    width: 100%;
    height: 400px;
}

.table {
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
    margin: 2rem 0;
}

.table th,
.table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table th {
    background-color: #f2f2f2;
    color: #333;
}

.table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tr:hover {
    background-color: #f1f1f1;
}

.button {
    background-color: #fff;
    color: #333;
    border: solid;
    border-radius: 20px;
    width: 200px;
    height: 60px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 1.2rem;
    text-align: center;
    font-weight: bolder;
    margin-top: 2rem;
}

.button:hover {
    background-color: #f0f0f0;
}